[worldserver]

###################################################################################################
#	宣布世界BOSS是否被人杀害
###################################################################################################

# 启用这个模块吗? (1: true | 0: false)

Boss.Announcer.Enable = 1

# 当玩家登录时宣布模块?

Boss.Announcer.Announce = 1

# 移除光环，比如杀死BOSS后嗜血的debuff ?

Boss.Announcer.RemoveAuraUponKill = 0
